<div id="comment-<%= comment.id %>" class="comment">
  <p class="created-at"> <%= comment.created_at %> </p>
  <%= link_to comment.user.email, user_path(comment.user), :class => "user-email"%>
  <p class="body"> <%= comment.body %> </p>
  <% if current_user == comment.user %>
    <div class="edit-comment-form">
      <%= form_for comment do |f| %> 
        <%= f.text_field :body %>
        <%= f.submit 'Edit'%>
      <% end %>
    </div>
    <a class="edit-comment-btn" data-comment-id="<%= comment.id %>" href="#">Edit</a>
    <%= link_to 'remove', comment, method: :delete, data: { confirm: 'Are you sure?' }%> 
  <% end %>
</div>
