<div id="product-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title"><%= title %></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>

      <%= form_for Share.new, remote: true do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <label> Share as: </label>
            <%= f.select(:profile_id) do %>
              <%= options_from_collection_for_select(current_user.cats.map {|cat| cat.profile}, :id, :name) %>
            <% end %>
          </div>
        </div>
        <%= f.hidden_field :post_id, value: @post.id %>
        <div class="modal-footer">
          <%= f.submit 'Share', class: "btn btn-primary btn-lg btn-block"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
