<h1><%= @user.email %></h1>
<%= link_to 'Delete account', @user, method: :delete, data: { confirm: 'Are you sure?' }, :style => "font-size:12px;" %>
<ul>
  <% @user.cats.each do |cat| %>
  <li>
    <%= cat.name %> <br />
    <%= link_to 'show', cat_path(cat) %>
  </li>
  <% end %>
<ul>
<% if current_user == @user %>
  <%= link_to 'Add New Cat', new_cat_path %>
<% end %>
