<%= stylesheet_link_tag 'userprofile' %>

<% if current_user == @user %>
  <div class="user-options">
    <%= link_to 'Edit Profile', edit_user_registration_path(@user) %>
    <%= link_to 'Delete Account', @user, method: :delete, data: { confirm: 'Are you sure?' }%>
  </div>
<% end %>

<h2 class="user-names"><%= @user.first_name %> <%= @user.last_name %></h2>
<h2 class="user-email"><%= @user.email %></h2>
<%= link_to 'Follows ' + @user.following.count.to_s + ' cats', follower_id_path(@user), :class => "following" %>

<% if current_user == @user %>
  <%= link_to 'New Cat', new_cat_path, :id => "new-cat-link" %>
<% end %>

<div class="cats-container">
   <% @user.cats.each do |cat| %>
    <%= link_to cat_path(cat) do %>
      <div class="cat-show" style="background-image: url(
         <% if cat.profile.picture_url != nil %>
           <%= cat.profile.picture_url %>
         <% else %>
            /assets/images/cat-unknown.png
         <% end %>
      );">
      <h2 class="cat-name"><%= cat.username %></h2>
    </div>
    <% end %>
  <% end %>
</div>
