<%= form_for Post.new do |f| %>
  <label> New post </label>
  <div class="new-post-content">
    <%= f.text_area :body %>
    <span>
      <%= f.file_field :picture %>
      <%= f.text_field :all_tags, placeholder: "Tags separated with comma" %>
      <%= f.hidden_field :cat_id, value: cat.id %>
    </span>
  </div>
  <%= f.submit 'Publish' %>
<% end %>
