<div style="border: 1px solid black; padding: 5px; margin-bottom: 17px; display: flex; flex-direction: column;">
  <%= link_to post.created_at, post_path(post), :style => "font-size: 11px; color: gray;" %>
  <%= link_to post.cat.username, cat_path(post.cat), :style => "margin: 0;font-size:12px;"%>
  <span> <%= post.body %> </span>
  <%= image_tag post.picture_url.to_s, :style => "width: 300px"%>
  <div style="display:flex;">
    <% post.tags.each do |tag| %>
      <%= link_to "#" + tag.name, tag_path(tag.name), :style => "margin-right: 7px;" %>
    <% end %>
  </div>
  <%= link_to post.comments.count.to_s + " comments",  post_path(post), :style => "font-size: 11px;" %>
  <%= link_to like_post_path(post), id: "favorite-btn-" + post.id.to_s, method: :put, :remote => true do %>
    <% if current_user.favorited?(post) %>
       Unfavorite
    <% else %>
       Favorite
    <% end %>
  <% end %>
 
  <p><span class="likes-count" id="likes-count-<%= post.id %>"> <%= post.users.count %> </span> Favorites</p>

  <% if current_user.id == post.cat.user.id %>
    <%= link_to 'Remove', post, method: :delete, data: { confirm: 'Are you sure?' }, :style => "font-size:12px;" %> 
  <% end %>  
</div>
