<%= stylesheet_link_tag 'comments' %>
<%= stylesheet_link_tag 'postshow' %>
<div class="container">
  <div class="full-post">
    <%= link_to @post.created_at, post_path(@post), :class => "created-at" %>
    <%= link_to @post.cat.username, cat_path(@post.cat), :class => "cat-username"%>
    <%= image_tag @post.picture_url.to_s%>
    <%= @post.body %>
    <div class="tags">
      <% @post.tags.each do |tag| %>
        <%= link_to "#" + tag.name, tag_path(tag.name), :class => "tag" %>
      <% end %>
    </div>
    <% if current_user == @post.cat.user %>
      <%= link_to 'Remove', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
  <div class="comments">
  <% @post.comments.each do |comment| %>
    <%= render partial: "comments/comment", locals: {comment: comment}%>
  <% end %>
  </div>
  <%= render partial: "comments/new", locals: {comment: @comment} %>
</div>

