<% if @cat.errors.any? 
    @cat.errors.each do |attribute, message| %>
     <h5> <%= attribute %> <%= message %> </h5>
  <% end 
end %>

<%= stylesheet_link_tag 'form' %>
<h1 class="title">Add a new cat</h1>
<%= form_for @cat do |f| %> 
<%= f.label :username %>
<%= f.text_field :username %>
<br>
<%= f.label :name %>
<%= f.text_field :name %>
<br>
<%= f.label :dob %>
<%= f.date_field :dob %>
<br>
<%= f.label :breed_id %>
<%= f.select(:breed_id) do %>
  <%= options_from_collection_for_select(Breed.all, :id, :name) %>
<% end %>
<br>
<%= f.submit 'Create Cat'%>
<% end %>
