<h1>Name: <%= @cat.name %></h1>
<h2>Breed: <%= @cat.breed.name %></h2>
<h2>DOB: <%= @cat.dob %></h2>
<h2>Hooman: <%= @cat.user.first_name %> <%= @cat.user.last_name %></h2>
<h2 style="border: 1px solid black;">Biography: <%= @cat.profile.biography %> </h2>
<%= link_to 'Edit', edit_cat_path(@cat) %>
<%= link_to 'Eliminar', @cat, method: :delete, data: { confirm: 'Are you sure?' } %>

<% if !current_user.following?(@cat) %>
  <%= form_for(current_user.active_relationships.build) do |f| %>
    <%= hidden_field_tag :followed_id, @cat.id %>
    <%= f.submit 'Follow' %>
  <% end %>
<% else %>
  <%= form_for(current_user.active_relationships.find_by(followed_id: @cat.id), html: {method: :delete}) do |f| %>
    <%= hidden_field_tag :followed_id, @cat.id %>
    <%= f.submit 'Unfollow' %>
  <% end %>
<% end %>

<div style="width: 600px; margin: 0 auto;">

  <%
    shared = @cat.profile.shares.to_a
    created_posts = @cat.posts.to_a
    show_posts = []
    created_posts.each do |post|
      while shared.first != nil && shared.first.created_at < post.created_at do
        show_posts.push(shared.shift.post)
      end
      show_posts.push(post)
    end
    show_posts = show_posts + shared.map {|s| s.post}
  %>

  <% show_posts.reverse.each do |post|%>
    <% if post.cat_id != @cat.id %>
      <p> v shared v </p>
    <% end %>
    <%= render partial: "posts/post", locals: {post: post}%>
  <% end %>

<%- if current_user == @cat.user %>
  <h2>New post</h2>
  <%= render partial: "posts/new", locals: {cat: @cat} %>
<% end %>

</div>



