<h1>Name: <%= @cat.name %></h1>
<h2>Breed: <%= @cat.breed.name %></h2>
<h2>DOB: <%= @cat.dob %></h2>
<h2>Hooman: <%= @cat.user.first_name %> <%= @cat.user.last_name %></h2>

<% if !current_user.following?(@cat) %>
  <%= form_for(current_user.active_relationships.build) do |f| %>
    <%= hidden_field_tag :followed_id, @cat.id %>
    <%= f.submit 'Follow' %>
  <% end %>
<% else %>
  <%= form_for(current_user.active_relationships.find_by(followed_id: @cat.id), html: {method: :delete}) do |f| %>
    <%= hidden_field_tag :followed_id, @cat.id %>
    <%= f.submit 'Unfollow' %>
  <% end %>
<% end %>

<div style="width: 600px; margin: 0 auto;">
   <% @cat.posts.each do |post|%>
     <%= render partial: "posts/post", locals: {post: post}%>
   <% end %>

<%- if current_user == @cat.user %>
  <h2>New post</h2>
  <%= form_for @post do |f| %> 
    <%= f.label :body, :style => "display: block;"%>
    <%= f.text_area :body, :style => "width: 100%;"%>
    <br>
    <%= f.file_field :picture%>
    <br>
    <%= f.text_field :all_tags, placeholder: "Tags separated with comma" %>
    <%= f.hidden_field :cat_id, value: @cat.id %>
    <%= f.submit 'Publish'%>
  <% end %>
<% end %>

</div>



