<h1><%= @cat.name %></h1>
<h2><%= @cat.user.id %></h2>
<h2><%= @cat.user.last_name %></h2>
<h2><%= @cat.user.first_name %></h2>
<h2><%= @cat.user.email %></h2>
<h2><%= @cat.breed.name %></h2>
<h2><%= @cat.dob %></h2>

