<%= stylesheet_link_tag 'catprofile' %>
<div class="container">
<div class="side-bar">
  <% if @cat.profile.picture_url != nil %>
    <%= image_tag @cat.profile.picture_url.to_s, :id => "profile-pic"%>
  <% else %>
    <img src="/assets/images/cat-unknown.png" id="profile-pic"/>
  <% end %>
  <h1 class="name"><%= @cat.name %></h1>
  <p><span id="followers-count"><%= @cat.followers.count %></span> followers</p>

  <% if !current_user.following?(@cat) %>
    <%= form_for(current_user.active_relationships.build) do |f| %>
      <%= hidden_field_tag :followed_id, @cat.id %>
      <%= f.submit 'Follow', :class => "follow-btn" %>
    <% end %>
  <% else %>
    <%= form_for(current_user.active_relationships.find_by(followed_id: @cat.id), html: {method: :delete}) do |f| %>
      <%= hidden_field_tag :followed_id, @cat.id %>
      <%= f.submit 'Unfollow', :class => "follow-btn" %>
    <% end %>
  <% end %>

  <% if current_user.owns?(@cat) %>
    <%= link_to 'Account', edit_cat_path(@cat) %>
    <%= link_to 'Edit Profile', edit_profile_path(@cat.profile) %>
    <%= link_to 'Delete', @cat, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>

<div class="main">
  <div class="cat-menu">
    <a id="posts-btn" href="#">Posts</a>
    <a id="about-btn" href="#">About</a>
  </div>
  <div id="about">
    <h2>Biography: <%= @cat.profile.biography %> </h2>
    <h2>Name: <%= @cat.name %></h2>
    <h2>Breed: <%= @cat.breed.name %></h2>
    <h2>DOB: <%= @cat.dob %></h2>
    <h2>Hooman: <%= @cat.user.first_name %> <%= @cat.user.last_name %></h2>
  </div>
<div id="posts">
  <%
    shared = @cat.profile.shares.to_a
    created_posts = @cat.posts.to_a
    show_posts = []
    created_posts.each do |post|
      while shared.first != nil && shared.first.created_at < post.created_at do
        show_posts.push(shared.shift.post)
      end
      show_posts.push(post)
    end
    show_posts = show_posts + shared.map {|s| s.post}
  %>
  <%- if current_user == @cat.user %>
    <%= render partial: "posts/new", locals: {cat: @cat} %>
  <% end %>

  <% show_posts.reverse.each do |post|%>
    <% if post.cat_id != @cat.id %>
      <p> v shared v </p>
    <% end %>
    <%= render partial: "posts/post", locals: {post: post}%>
  <% end %>

  </div>

</div>
</div>


